<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head >
    <meta charset="UTF-8">
    <title>Add</title>
</head>
<body>
<form th:method="POST" th:action="@{/persist}" th:object="${useradd}">
    <label for="name">Name</label>
    <input th:field="*{firstName}" type="text" id="name" >
  <br>
    <label for="lastName">LastName</label>
    <input th:field="*{lastName}" type="text" id="lastName" >
  <br>
    <label for="email">Email</label>
    <input th:field="*{email}" type="text" id="email" >
  <br>
  <input type="submit" value="add"/>
</form>

</body>
</html>